//Font Styles Variables

//Urbanist SemiBold 600
$urbanist-semiBold: "Urbanist", sans-serif;

//Urbanist Regular 400
$urbanist-regular: "Urbanist", sans-serif;

//Open Sans Regular 400
$open-sans-regular: "Open Sans", sans-serif;

//Open SemiBold 600
$open-sans-semiBold: "Open Sans", sans-serif;